<p id="notice"><%= notice %></p>

<h1>Listing Production Cards</h1>

<table id="production_card_table" class="display">
  <thead>
    <tr>
      <th>Card number</th>
      <th>Plant</th>
      <th>Seed Lot</th>
      <th>Seed Start Date</th>
      <th>Order</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @production_cards.each do |production_card| %>
      <tr>
        <td><%= link_to production_card.card_number, production_card_path(production_card) %></td>
        <td><%= link_to production_card.plant.long_name, production_card.plant %></td>
        <td><%= link_to production_card.seed_lot, seed_path(production_card.seed) %></td>
        <td><%= link_to production_card.first_item_date, production_card.seed %></td>
        <td><%= production_card.order %></td>
        <td><%= production_card.active %></td>
        <td><%= link_to 'Edit', edit_production_card_path(production_card) %></td>
        <td><%= link_to 'Destroy', production_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production card', new_production_card_path %>
