<p id="notice"><%= notice %></p>

<h1>Showing Family <%= @family.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @family.name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @family.common_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @family.description %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
<div class="right">
  <%= link_to 'Prev', family_path(@family.previous) %> | 
  <%= link_to 'Next', family_path(@family.next) %>
</div>

<div id="plants">
  <table class="display subtable">
    <thead>
      <th colspan="5"><%= "Plants in #{@family.name} family" %></th>
    </thead>
    <tbody>
      <%= render partial: "plants/plant", collection: @family.plants.uniq %>
    </tbody>
  </table>
</div>