<p id="notice"><%= notice %></p>

<h1>Listing Seeds</h1>

<table id="seed_table" class="display">
  <thead>
    <tr>
      <th>Lot</th>
      <th>Plant</th>
      <th>Collection date</th>
      <th>Vendor</th>
      <th>Location</th>
      <th>Quantity</th>
      <th>Remaining</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seeds.each do |seed| %>
      <tr>
        <td><%= link_to seed.lot, seed_path(seed) %></td>
        <td><%= link_to seed.plant.long_name, seed.plant %></td>
        <td><%= seed.collection_date %></td>
        <td><%= link_to seed.vendor_name, seed.vendor %></td>
        <td><%= link_to seed.location_name, seed.location %></td>
        <td><%= seed.quantity %></td>
        <td><%= seed.remaining %></td>
        <td><%= link_to 'Destroy', seed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seed', new_seed_path %>
