<tr>
  <td><%= link_to plant.name, plant_path(plant) %></td>
  <td><%= link_to plant.family_name, plant_family_path(plant) %></td>
  <td><%= link_to plant.genus_name, plant.genus %></td>
  <td><%= link_to plant.species_name, plant.species %></td>
  <td><%= plant.common_name %></td>
</tr>