<p id="notice"><%= notice %></p>

<h1>Listing Plants</h1>

<table id="plant_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
      <th>Common name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= link_to plant.name, plant_path(plant) %></td>
        <td><%= link_to plant.family_name, plant_family_path(plant) %></td>
        <td><%= link_to plant.genus_name, plant.genus %></td>
        <td><%= link_to plant.species_name, plant.species %></td>
        <td><%= plant.common_name %></td>
        <td><%= plant.description %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
