<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @plant.family_name %>
</p>

<p>
  <strong>Genus:</strong>
  <%= @plant.genus_name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @plant.species_name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<p>
  <strong>Germination Code:</strong>
  <%= @plant.germination_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<p>
  <strong>Seeds On Hand:</strong>
  <%= @plant.seeds_on_hand %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %> |
<%= link_to 'Destroy', @plant, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Get Seed', new_seed_path(plant: @plant) %> | 
<%= link_to 'New P-Card', new_production_card_path(plant: @plant) %>

<div id="locations">
  <table class="display">
    <thead>
      <th colspan="4"><%= "Places to find #{@plant.name} in the wild" %></th>
    </thead>
    <tbody>
      <%= render partial: "locations/location", collection: @plant.locations.uniq %>
    </tbody>
  </table>
</div>

<div id="production_cards">
  <table class="display">
    <thead>
      <th colspan="3"><%= "Production Cards for #{@plant.name}" %></th>
    </thead>
    <tbody>
      <%= render partial: "production_cards/cards", collection:@plant.production_cards %>
    </tbody>
  </table>
</div>

<div id="seeds">
  <table class="display">
    <thead>
      <th colspan="3"><%= "Seed Lots for #{@plant.name}" %></th>
    </thead>
    <tbody>
      <%= render partial: "seeds/seeds", collection:@plant.seeds %>
    </tbody>
  </table>
</div>