<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @plant.family_name %>
</p>

<p>
  <strong>Genus:</strong>
  <%= @plant.genus %>
</p>

<p>
  <strong>Species:</strong>
  <%= @plant.species %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @plant.common_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plant.description %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
