<tr>
  <td><%= link_to pollinator.name, pollinator_path(pollinator) %></td>
  <td><%= link_to pollinator.family_name, pollinator_family_path(pollinator) %></td>
  <td><%= link_to pollinator.genus_name, pollinator.genus %></td>
  <td><%= link_to pollinator.species_name, pollinator.species %></td>
  <td><%= pollinator.common_name %></td>
</tr>
