<p id="notice"><%= notice %></p>
<h1>Showing Genus <%= @genus.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @genus.name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @genus.common_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @genus.description %>
</p>

<%= link_to 'Edit', edit_genus_path(@genus) %> |
<%= link_to 'Back', genus_index_path %>
<div class="right">
  <%= link_to 'Prev', genus_path(@genus.previous) %> | 
  <%= link_to 'Next', genus_path(@genus.next) %>
</div>

<div id="plants">
  <table class="display subtable">
    <thead>
      <th colspan="5"><%= "Plants with Genus #{@genus.name}" %></th>
    </thead>
    <tbody>
      <%= render partial: "plants/plant", collection: @genus.plants.uniq %>
    </tbody>
  </table>
</div>