<%= form_for(@production_step) do |f| %>
  <% if @production_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_step.errors.count, "error") %> prohibited this production_step from being saved:</h2>

      <ul>
      <% @production_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :production_card_id %><br>
    <%= f.text_field :production_card_id %>
  </div>
  <div class="field">
    <%= f.label :step_date %><br>
    <%= f.date_select :step_date %>
  </div>
  <div class="field">
    <%= f.label :process %><br>
    <%= f.text_field :process %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
