<%= form_for(@production_step, remote: true) do |f| %>
  <% if @production_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_step.errors.count, "error") %> prohibited this production_step from being saved:</h2>

      <ul>
      <% @production_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :production_card_id %>
  <table id="new_prod_step">
    <thead>
      <tr>
        <th>Date</th>
        <th>Process</th>
        <th>Description</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.date_select :step_date %></td>
        <td><%= f.text_field :process %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :notes %></td>
        <td><%= f.submit %></td>
      </tr>
    </tbody>
  </table>
<% end %>
