<tr>
  <td><%= list.step_date %></td>
  <td><%= list.process %></td>
  <td><%= list.description %></td>
  <td><%= list.notes %></td>
  <td><%= link_to 'Edit', edit_production_step_path(list) %></td>
  <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>