<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @common_name.name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @common_name.common_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @common_name.description %>
</p>

<%= link_to 'Edit', edit_common_name_path(@common_name) %> |
<%= link_to 'Back', common_names_path %>
