<div>
  <%= image_tag "logo.png", class: "centered_image" %>
</div>
<div class="main_menu">
	<p><h3>| <%= link_to 'Plants', plants_path %> |
           <%= link_to 'Seeds', seeds_path %> |
           <%= link_to 'Cards', production_cards_path %> |
           <%= link_to 'Locations', locations_path %> |
           <%= link_to 'Pollinators', pollinators_path %></h3></p>
</div>
